{% extends 'base.html.twig' %}

{% block javascripts %}<script>
    function load(){
        alert("Loading...");
    }
</script>{% endblock %}

{% block main %}
    <main>
        
    </main>
{% endblock %}
